body {
  background: linear-gradient(to right, blue, purple);
  font-family: 'Arimo', sans-serif;
}

.q-box {
  position: relative;
  margin: 10% auto auto auto;
  width: 500px;
  height: auto;
  background: linear-gradient(#DF7401, #D7DF01);
  padding: 30px 40px;
  display: table;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.q-box .q-text {
  text-align: center;
  font-size: 2em;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.q-box .q-author {
  text-align: right;
  font-size: 1.2em;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 35px;
  color: purple;
}
.q-box .q-buttons {
  margin: auto;
  display: block;
}
.q-box .q-buttons #randomize {
  margin-right: 20px;
  height: 45px;
  width: 80px;
  color: white;
  font-size: 1.3em;
  background-color: purple;
  border-radius: 10%;
  float: right;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.q-box .q-buttons .fa {
  text-align: center;
  float: left;
  font-size: 1.5em;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: blue;
  cursor: pointer;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  margin: 10px;
  text-align: center;
  color: #888;
}

.fa:hover {
  opacity: 0.8;
}

#randomize:hover {
  opacity: 0.7;
}
